$primary: #fff;
$secondary: fff;
$text-color: #1b1a17;
$shadow: #eee;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary;
}

header {
  background-color: #9fe6a0;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

.List__item {
  font-family: "Montserrat", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  .item {
    text-align: center;
    background-color: $secondary;
    width: 20rem;
    line-height: 2;

    border-radius: 7px;
    padding: 1rem 2rem;
    margin-left: 1rem;
    box-shadow: 0 2px 5px $shadow;
  }

  .my__img {
    width: 120px;
    height: 120px;
  }

  .desc__pic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

button {
  background-color: transparent;
  border: none;
}

.MuiTextField-root {
  box-shadow: 0 2px 5px $shadow;
}
