$primary: #fff;
$secondary: #f5f6fa;
$text-color: #1b1a17;
$shadow: #000;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary;
}

.List__item {
  font-family: "Montserrat", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

  .item {
    text-align: center;
    background-color: $secondary;
    width: 20rem;
    line-height: 2;

    border-radius: 7px;
    padding: 1rem 2rem;
    margin-left: 1rem;
    box-shadow: 0 2px 5px $shadow;
  }

  img {
    // position: relative;
    // top: 2.5rem;
    width: 120px;
    height: 120px;
    // display: inline-block;
  }

  .desc__pic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
